<nav class="navbar navbar-expand-lg navbar-light bg-light sparta-navbar">
  <a class="navbar-brand" routerLink="/dashboard">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link mb-0 h4">CHAIN MAKERS</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-network-wired"></i>
          <span class="menu-incoming-requests">Supply Chains</span> <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li routerLinkActive="active">
            <a class="dropdown-item" routerLink="/supply-network/network-graph" >Mask Supply Chain</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

