<div class="row">
  <div class="d-inline-flex">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label
        class="btn btn-secondary"
        [class.active]="rlaVertex.isActive"
        [routerLink]="['/supply-network/network-graph/create-vertex']"
        routerLinkActive="active"
        #rlaVertex="routerLinkActive">

        <input type="radio" name="create-vertex" id="create-vertex">
        <i class="fas fa-plus-circle fa-lg"></i>
      </label>

      <label
        class="btn btn-secondary"
        [class.active]="rlaEdge.isActive"
        [routerLink]="['/supply-network/network-graph/create-edge']"
        routerLinkActive="active"
        #rlaEdge="routerLinkActive">

        <input type="radio" name="create-edge" id="create-edge">
        <i class="fas fa-arrows-alt-h fa-lg"></i>
      </label>
    </div>
  </div>
</div>
